<h1>Добрий день!</h1>
<h3>Ви або інша людина ввела Вашу пошту для нагадування паролю.</h3>
<h3>Якщо це зробили не Ви - просто проігноруйте дане повідомлення.</h3>
<h3>Якщо ж Ви бажаєте нагадати собі пароль, то він - {{password}}.</h3>
<h3>З повагою Localhost.</h3>