 <div class="chatBox">
   <div class="mess">
<!--   <p class="ddd" ng-repeat="x in textiki">{{x.date | date: "  HH:mm "}}&nbsp;&nbsp;&nbsp;{{x.nameField}}:&nbsp;&nbsp;&nbsp;</p>-->
    <ul id="messages"></ul>
    
    </div>
    
    <form action="" class="cht">
     <h2>Користувач:</h2><h4>{{nameField}}</h4>
      <input id="m" autocomplete="off" /><br><button ng-click="EnterText()" class="sendMsg">Send</button>
      <input type="button" class="hide" value="Hide">
      
    </form>
    </div>