<div class="foot" ng-show="contact">

<!--
<ul class="menu">
		<li class="home" ng-click="chooseHolovna()"><a href=""><img src="img/tablets1.png" alt=""></a></li>
         <li class="translate" ng-click="chooseLang()"><a href=""><img src="img/tablets2.png" alt=""></a>
         </li>
         <li><a href=""><img src="img/tablets3.png" alt=""></a></li>
         <li><a href="" ng-click="chooseCont()"><img src="img/tablets4.png" alt=""></a></li>
         <li class="price"  ng-click="choosePrice()"><a href=""><img src="img/tablets5.png" alt=""></a></li>
  
		</ul>
-->


<div class="infoMap">

<div class="info">
		<h1>Проспект свободи 41</h1>
		<h2>2-й поверх</h2>
			<p>Тел: +38 (032) 253 72 78</p>
			<p>Тел: +38 (066) 539 10 16</p>
			<p>Тел: +38 (093) 138 89 32</p>
			<p>Тел: +38 (068) 526 74 85</p>
			<p>email: victory.lviv@ukr.net</p>
		</div>

	<div class="contact">
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.9482661586303!2d24.02358461540074!3d49.8434295793962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add72567e8a31%3A0x34088485dc4bc3d1!2z0L_RgNC-0YHQv9C10LrRgiDQodCy0L7QsdC-0LTQuCwgNDEsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDRl9C90LAsIDc5MDAw!5e0!3m2!1suk!2sru!4v1507041949125" width="800" height="285" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div><br>
	</div>
	
	

		
	</div>
	</div>
	