<center>
<div class="space">

 <div class="mal">
  <p>Ім'я</p>
   <input type="text" class="sendField" ng-model="myText"><br><br>
   <p>Прізвище</p>
   <input type="text" class="sendField" ng-model="myInfo"><br><br>
   <p>Текст</p>
   <textarea name="" id="" cols="30" rows="10" class="sendArea" ng-model="myWords"></textarea><br>
<!--   <input type="button" class="Rbtn" ng-click="send()" value="Send">-->
   
   <label class="uploadbutton">
            <div class="button">Upload</div>
            <input type="file" file-model="myFile" >
            </label>
            
            <input type="button" value="Send" ng-click="send()">
        <img src="img/test">
   
   </div>
   
   </div>
</center>
