<div class="menu" ng-show="menu">

	<div class="book">
		<ul class="menu">
		<li class="home" ng-click="chooseHolovna()"><a href=""><img src="img/tablets1.png" alt=""></a></li>
         <li class="translate" ng-click="chooseLang()"><a href=""><img src="img/tablets2.png" alt=""></a>
         
<!--
         <ul class="submenu">
            <li><a href=""><img src="img/tablets6.png" alt=""></a></li>
            <li><a href=""><img src="img/tablets7.png" alt=""></a></li>
            <li><a href=""><img src="img/tablets8.png" alt=""></a></li>
        </ul>
-->
         
         </li>
         <li class="poslygu"><a href=""><img src="img/tablets3.png" alt=""></a></li>
         <li class="kontaktu"><a href="" ng-click="chooseCont()"><img src="img/tablets4.png" alt=""></a></li>
         <li class="price"  ng-click="choosePrice()"><a href=""><img src="img/tablets5.png" alt=""></a></li>
  
		</ul>
	</div>
	
</div>