<div class="minmenu2">
	<div class="book2">
		<ul class="menu2">
         <li class="home2"><a href="">Menu</a>
         <ul class="submenu2">
            <li ng-click="chooseHolovna()"><a href="">Головна</a></li>
            <li ng-click="chooseLang()"><a href="">Переклади</a></li>
            
            <li><a href="">Послуги</a></li>
            
            <li ng-click="chooseCont()"><a href="">Контакти</a></li>
            <li ng-click="choosePrice()"><a href="">Ціни</a></li>
        </ul>
         </li>
		</ul>
	</div>
</div>