<div class="main3" ng-show="price">
<div class="prices">
	<table>
  <tr>
    <td id="tabl">1</td>
    <td>Стандартні документи</td>
    <td>Нейтральна тематика</td>
    <td>Спеціалізована
тематика
(технічна, юридична,
економічна)</td>
    <td>Медична тематика</td>
    <td>Завірення документу печаткою мовного центру</td>
    <td>Нотаріальне завірення документу</td>
  </tr>
  <tr>
    <td>1.Російська</td>
    <td>25</td>
    <td>30</td>
    <td>40</td>
    <td>55</td>
    <td>10</td>
    <td>45</td>
  </tr>
   <tr>
    <td>2.Англійська, німецька, французька, польська, іспанська, італійська</td>
    <td>40</td>
    <td>50</td>
    <td>50</td>
    <td>60</td>
    <td>10</td>
    <td>45</td>
  </tr>
   <tr>
    <td>3.Болгарська, македонська, сербська, словацька, хорватська, чеська, латинська</td>
    <td>50</td>
    <td>60</td>
    <td>70</td>
    <td>80</td>
    <td>10</td>
    <td>45</td>
  </tr>
   <tr>
    <td>4.Азербайджанська, арабська, в’єтнамська, вірменська, грецька, грузинська, данська, іврит,каталонська, китайська, корейська, латиська, литовська, нідерландська (голландська), норвезька, португальська, румунська, словенська, турецька, туркменська, хінді, фламанська, угорська, фарсі (іранська), шведська, японська</td>
    <td>80</td>
    <td>130</td>
    <td>140</td>
    <td>180</td>
    <td>10</td>
    <td>55</td>
  </tr>
</table>
	</div>
</div>