<div class="regi">
    <h1>Registration :</h1>
    <h3>Login <input type="text" ng-model="newLogin"></h3>
    <h3>Password <input type="text" ng-model="newPassword"></h3>
    <h3>Mail <input type="text" ng-model="newMail"></h3>
<!--
    <h3>Phone <input type="text" ng-model="newPhone" placeholder="+380681234567"><input type="button" ng-click="verification()" value="Verificate"></h3>
    <h3>Ver.Code <input type="text" ng-model="newVerCode"></h3>
-->
    <h3><input type="button" ng-click="registration()" value="Register"></h3>
</div>