<div class="slide2"  ng-show="slider">
<img src="img/frame.png" class="frame">
	<div class="viewport">
	
	<ul data-current='0' class='slidewrapper'>
   
    <li class="slide"><img src="img/slide/1.jpg" alt=""></li>
    <li class="slide"><img src="img/slide/2.jpg" alt=""></li>
    <li class="slide"><img src="img/slide/3.jpg" alt=""></li>
    <li class="slide"><img src="img/slide/4.jpg" alt=""></li>
    <li class="slide"><img src="img/slide/5.jpg" alt=""></li>
    <li class="slide"><img src="img/slide/6.jpg" alt=""></li>
    <li class="slide"><img src="img/slide/7.jpg" alt=""></li>
    <li class="slide"><img src="img/slide/8.jpg" alt=""></li>
    
</ul>
	
	</div>
	</div>